#map {
	width: 100%;
	height: 100vh;
	background: grey;
}
body {
	scroll-behavior: smooth;
}
#panel {
	width: 100%;
	height: 400px;
}

canvas {
	width: 100% !important;
	height: 100% !important;
}

.r {
	background-color: #c03be1;
}

.rr:hover {
	background-color: #c03be1;
	border-color: #ff00ea;
}
